template(name="createTeams")
  button#club_men.btn.btn-primary Club Men
  button#club_mixed.btn.btn-primary Club Mixed
  button#club_women.btn.btn-primary Club Women
  button#college_men.btn.btn-primary College Men
  button#college_women.btn.btn-primary College Women
