template(name="home")
  .row
    .col-md-4.col-md-offset-4.col-sm-offset-3.col-sm-6.col-xs-8.col-xs-offset-2
      a(class="btn btn-primary btn-lg btn-block", href="{{ pathFor 'selectTeam'}}") Select Team
      a(class="btn btn-primary btn-lg btn-block", href="{{ pathFor 'pitch'}}") New Game
      a(class="btn btn-primary btn-lg btn-block", href="{{ pathFor 'myStats'}}") Team Stats